{% extends 'base.html.twig' %}
{% block title %}
	Create a new Record | Mixed Vinyl
{% endblock %}
{% block body %}
	<h1>{{ title }}</h1>
	{# TODO: add an image of the record #}
	<div>
		Tracks:
		<ul>
			{% for track in tracks %}
				<li>
					{{ track.song }}
					-
					{{ track.artist|upper }}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
